WebServicesSaferbo.SOAP/Connected Services/ServientregaRecogida/PickUpRequest63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://web.servientrega.com:8085/PickUpRequest.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://web.servientrega.com:8085/PickUpRequest.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainApplication.Model" />
  <xs:element name="CreateRequestSporadic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstGuides" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="pickUpDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickUpHour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestSporadicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainApplication.Model" minOccurs="0" name="CreateRequestSporadicResult" nillable="true" type="q2:ResponsePickUpRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailPickUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentPickUp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailPickUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainApplication.Model" minOccurs="0" name="GetDetailPickUpResult" nillable="true" type="q3:ResponseDetailPickUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPickUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentPickUp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPickUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DomainApplication.Model" minOccurs="0" name="CancelPickUpResult" nillable="true" type="q4:ResponseCancel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getValidTimePickup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCountry" type="xs:int" />
        <xs:element minOccurs="0" name="idCity" type="xs:int" />
        <xs:element minOccurs="0" name="idProduct" type="xs:int" />
        <xs:element minOccurs="0" name="idSubProduct" type="xs:int" />
        <xs:element minOccurs="0" name="DayPickUp" type="xs:int" />
        <xs:element minOccurs="0" name="idTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getValidTimePickupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DomainApplication.Model" minOccurs="0" name="getValidTimePickupResult" nillable="true" type="q5:ResponseValidTimePickup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailMovementPickUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentPickUp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailMovementPickUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DomainApplication.Model" minOccurs="0" name="getDetailMovementPickUpResult" nillable="true" type="q6:ArrayOfServiceDocumentPickUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>