WebServicesSaferbo.SOAP/Connected Services/ServientregaRecogida/PickUpRequest4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainApplication.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainApplication.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KindOfIssue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdError" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KindOfIssue" nillable="true" type="tns:KindOfIssue" />
</xs:schema>